.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: transition 0.3s;
  -webkit-transition: transition 0.3s;
  -moz-transition: transition 0.3s;
  -ms-transition: transition 0.3s;
  -o-transition: transition 0.3s;
  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(
      to right,
      $color-primary,
      $color-primary-light
    );
    -webkit-background-clip: text;
    color: transparent;
  }

  &:hover {
    transform: translateY(-1.5rem);
    -webkit-transform: translateY(-1.5rem);
    -moz-transform: translateY(-1.5rem);
    -ms-transform: translateY(-1.5rem);
    -o-transform: translateY(-1.5rem);
  }
  &__text {
  }
}
